
<li class="depth-1" id="cmt<#article/comment/id#>">
<dl>
<dt><img alt="Gravatar Icon" src="<#article/comment/avatar#>" /></dt>
<dd>
<span class="num"><a name="cmt<#article/comment/id#>"><#article/comment/count#><span class="dot">楼</span></a></span>
<cite><a href="<#article/comment/urlencoder#>" rel="nofollow" target="_blank"><#article/comment/name#></a></cite>
<span class="revertcomment"><a href="#cmt<#article/comment/id#>" onclick="ReComment('cmt<#article/comment/id#>','msg','msgarticle','divCommentPost','<#article/comment/id#>')"><#ZC_MSG265#></a></span>
<div id="post">Post:<#article/comment/posttime#></div>
<div class="msgarticle"><#article/comment/content#></div>
</dd></dl>
</li>

